<h2>new restaurant</h2>
<form action="/restaurant/new/" method="POST">
  <label>name:</label><br>
  <input type="text" name="title"><br>
  <label>address:</label>
  <input type="text" name="address"><br>
  <label>category:</label><br>
  <input type="text" name="category"><br>
  <button type="submit">Submit</button><br>
</form>
